services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3001:3000"
    environment:
      - PORT=3000
    networks:
      - app-network
    # Allow access to host Ollama
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
